@model Portfolio.Models.TblTeams
@{
    ViewBag.Title = "AddTeam";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<br />
<h3>Yeni Takım Arkadaşı Ekleme Sayfası</h3>

<form method="post">
    <label>Resim</label>
    <input type="text" name="ImageUrl" class="form-control" />
    <br />
    <label>Ad/Soyad</label>
    <input type="text" name="ImageUrl" class="form-control" />
    <br />
    <label>Görevi</label>
    <input type="text" name="ImageUrl" class="form-control" />
    <br />
    <label>Görev Tanımı</label>
    <input type="text" name="ImageUrl" class="form-control" />
    <br />
    <label>Twitter Url</label>
    <input type="text" name="ImageUrl" class="form-control" />
    <br />
    <label>Facebook Url</label>
    <input type="text" name="ImageUrl" class="form-control" />
    <br />
    <label>Linkedin Url</label>
    <input type="text" name="ImageUrl" class="form-control" />
    <br />
    <label>Instagram Url</label>
    <input type="text" name="ImageUrl" class="form-control" />
    <br />
    <br />
    <button class="btn btn-outline-primary">Kaydet</button>
</form>