@model Portfolio.Models.TblProjects
@{
    ViewBag.Title = "AddProject";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<br />
<h3>Yeni Proje Ekleme Sayfası</h3>

<form method="post">
    <label>Resim Url</label>
    <input type="text" name="ImageUrl" class="form-control" />
    <br />
    <label>Proje Adı</label>
    <input type="text" name="ProjectName" class="form-control" />
    <br />
    <label>Github Linki</label>
    <input type="text" name="GithubUrl" class="form-control" />
    <br />
    <label>Kategori</label>
    <!--<input type="text" name="CategoryId" class="form-control" /> bunun yerine alttaki satırı yazdık.burada dropdown oluşturmak için-->
    @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.category, "Seçiniz", new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-primary">Kaydet</button> 

</form>
